@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

body {
    background: linear-gradient(120deg, #03000C -14.45%, #020107 106.15%);
}